
angucomplete, .angucomplete-holder {
    width: 100%;
}

/*.ng-table {
    border: 1px solid #000;
}*/

.highlight {
	font-weight: bold; 
}

.input-group-addon {
    cursor: pointer;
}



#loading-overlay {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 5000px;
    background-color: rgba(100, 100, 100, 0.7);
}

#loading-overlay img {
    width: 50px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
}

#results-area {
    position: relative;
    overflow: hidden;
}

