
<!DOCTYPE html> 
<html lang="cs" ng-app="app">
	<head>
		<meta charset="utf-8">
		
		<title>Administrace</title>
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-touch.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.min.js"></script>
		
		<script src="js/app/admin.js"></script>
		
		<link rel="stylesheet" href="css/back.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		
		<script src="lib/toastr/toastr.js"></script>
		
		<script src="lib/ui-bootstrap-tpls-0.13.0.js"></script>
	</head>
	<body>
		<div class="container">
			<h1>Administrace</h1>
			
			<h2>Záznamy</h2>
			<div ng-controller="RecordsCtrl">
				<table class="crud-grid table table-striped table-bordered table-condensed table-hover">
					<tr>
						<th style="width: 100px;">
							<div class="btn-toolbar"><i class="btn btn-default glyphicon glyphicon-plus" ng-click="toggleAddMode()"></i></div>
						</th>
						<th style="width: 50px;">Id</th>
						<th>Id parcely</th>
						<th>Id oprávněné osoby</th>
						<th>Podíl vlastnictví čitatel</th>
						<th>Podíl vlastnictví jmenovatel</th>
						<th>Právní vztah</th>
					</tr>
					<tr ng-show="addMode">
						<td>
							<div class="btn-toolbar">
								<div class="btn-group">
									<i class="btn btn-default glyphicon glyphicon-save" ng-click="addRecord()"></i>
									<i class="btn btn-default glyphicon glyphicon-remove" ng-click="toggleAddMode()"></i>
								</div>
							</div>
						</td>
						<td></td>
						<td>
							<input ng-model="record.parcel_id" />
						</td>
						<td>
							<input ng-model="record.authorized_person_id" />
						</td>
						<td>
							<input ng-model="record.ownership_share_numerator" />
						</td>
						<td>
							<input ng-model="record.ownership_share_denominator" />
						</td>
						<td>
							<input ng-model="record.legal_relation" />
						</td>
					</tr>
					<tr ng-repeat="record in records | orderBy:'id'">
						<td>
							<div class="btn-toolbar" ng-show="record.editMode == null || record.editMode == false">
								<div class="btn-group">
									<i class="btn btn-default glyphicon glyphicon-edit" ng-click="toggleEditMode(record)"></i>
									<i class="btn btn-default glyphicon glyphicon-trash" ng-click="deleteRecord(record)"></i>
								</div>
							</div>
							<div class="btn-toolbar" ng-show="record.editMode == true">
								<div class="btn-group">
									<i class="btn btn-default glyphicon glyphicon-save" ng-click="updateRecord(record)"></i>
									<i class="btn btn-default glyphicon glyphicon-remove" ng-click="toggleEditMode(record)"></i>
								</div>
							</div>
						</td>
						<td>{{record.id}}</td>
						<td>
							<span ng-show="record.editMode == null || record.editMode == false">{{record.parcel_id}}</span>
							<input ng-model="record.parcel_id" ng-show="record.editMode == true" />
						</td>
						 <td>
							<span ng-show="record.editMode == null || record.editMode == false">{{record.authorized_person_id}}</span>
							<input ng-model="record.authorized_person_id" ng-show="record.editMode == true" />
						</td>
						 <td>
							<span ng-show="record.editMode == null || record.editMode == false">{{record.ownership_share_numerator}}</span>
							<input ng-model="record.ownership_share_numerator" ng-show="record.editMode == true" />
						</td>
						 <td>
							<span ng-show="record.editMode == null || record.editMode == false">{{record.ownership_share_denominator}}</span>
							<input ng-model="record.ownership_share_denominator" ng-show="record.editMode == true" />
						</td>
						 <td>
							<span ng-show="record.editMode == null || record.editMode == false">{{record.legal_relation}}</span>
							<input ng-model="record.legal_relation" ng-show="record.editMode == true" />
						</td>
					</tr>
				</table>
				<pagination 
					ng-model="pageRecords"
					total-items="total"
					max-size="count"  
					boundary-links="true">
				</pagination>
			</div>

			<h2>Parcely</h2>
			<div ng-controller="ParcelsCtrl">
				<table class="crud-grid table table-striped table-bordered table-condensed table-hover">
					<tr>
						<th style="width: 100px;">
							<div class="btn-toolbar"><i class="btn btn-default glyphicon glyphicon-plus" ng-click="toggleAddMode()"></i></div>
						</th>
						<th style="width: 50px;">ID</th>
						<th>Kód katastrální oblasti</th>
						<th>Číslo parcely</th>
						<th>Plocha</th>
						<th>Typ</th>
						<th>Způsob využití</th>
						<th>Číslo listu vlastnictví</th>
					</tr>
					<tr ng-show="addMode">
						<td>
							<div class="btn-toolbar">
								<div class="btn-group">
									<i class="btn btn-default glyphicon glyphicon-save" ng-click="addRecord()"></i>
									<i class="btn btn-default glyphicon glyphicon-remove" ng-click="toggleAddMode()"></i>
								</div>
							</div>
						</td>
						<td></td>
						<td>
							<input ng-model="record.cadastral_area_code" />
						</td>
						<td>
							<input ng-model="record.number" />
						</td>
						<td>
							<input ng-model="record.area" />
						</td>
						<td>
							<input ng-model="record.type" />
						</td>
						<td>
							<input ng-model="record.way_of_using" />
						</td>
						<td>
							<input ng-model="record.lv_number" />
						</td>
					</tr>
					<tr ng-repeat="record in records | orderBy:'id'">
						<td>
							<div class="btn-toolbar" ng-show="record.editMode == null || record.editMode == false">
								<div class="btn-group">
									<i class="btn btn-default glyphicon glyphicon-edit" ng-click="toggleEditMode(record)"></i>
									<i class="btn btn-default glyphicon glyphicon-trash" ng-click="deleteRecord(record)"></i>
								</div>
							</div>
							<div class="btn-toolbar" ng-show="record.editMode == true">
								<div class="btn-group">
									<i class="btn btn-default glyphicon glyphicon-save" ng-click="updateRecord(record)"></i>
									<i class="btn btn-default glyphicon glyphicon-remove" ng-click="toggleEditMode(record)"></i>
								</div>
							</div>
						</td>
						<td>{{record.id}}</td>
						<td>
							<span ng-show="record.editMode == null || record.editMode == false">{{record.cadastral_area_code}}</span>
							<input ng-model="record.cadastral_area_code" ng-show="record.editMode == true" />
						</td>
						<td>
							<span ng-show="record.editMode == null || record.editMode == false">{{record.number}}</span>
							<input ng-model="record.number" ng-show="record.editMode == true" />
						</td>
						<td>
							<span ng-show="record.editMode == null || record.editMode == false">{{record.area}}</span>
							<input ng-model="record.area" ng-show="record.editMode == true" />
						</td>
						<td>
							<span ng-show="record.editMode == null || record.editMode == false">{{record.type}}</span>
							<input ng-model="record.type" ng-show="record.editMode == true" />
						</td>
						<td>
							<span ng-show="record.editMode == null || record.editMode == false">{{record.way_of_using}}</span>
							<input ng-model="record.way_of_using" ng-show="record.editMode == true" />
						</td>
						<td>
							<span ng-show="record.editMode == null || record.editMode == false">{{record.lv_number}}</span>
							<input ng-model="record.lv_number" ng-show="record.editMode == true" />
						</td>
					</tr>
				</table>
				<pagination 
					ng-model="pageParcels"
					total-items="total"
					max-size="count"  
					boundary-links="true">
				</pagination>
			</div>

			<h2>Kraje</h2>
			<div ng-controller="RegionsCtrl">
				<table class="crud-grid table table-striped table-bordered table-condensed table-hover">
					<tr>
						<th style="width: 100px;">
							<div class="btn-toolbar"><i class="btn btn-default glyphicon glyphicon-plus" ng-click="toggleAddMode()"></i></div>
						</th>
						<th style="width: 50px;">Kód kraje</th>
						<th>Název kraje</th>
					</tr>
					<tr ng-show="addMode">
						<td>
							<div class="btn-toolbar">
								<div class="btn-group">
									<i class="btn btn-default glyphicon glyphicon-save" ng-click="addRecord()"></i>
									<i class="btn btn-default glyphicon glyphicon-remove" ng-click="toggleAddMode()"></i>
								</div>
							</div>
						</td>
						<td></td>
						<td>
							<input ng-model="record.name" />
						</td>
					</tr>
					<tr ng-repeat="record in records | orderBy:'id'">
						<td>
							<div class="btn-toolbar" ng-show="record.editMode == null || record.editMode == false">
								<div class="btn-group">
									<i class="btn btn-default glyphicon glyphicon-edit" ng-click="toggleEditMode(record)"></i>
									<i class="btn btn-default glyphicon glyphicon-trash" ng-click="deleteRecord(record)"></i>
								</div>
							</div>
							<div class="btn-toolbar" ng-show="record.editMode == true">
								<div class="btn-group">
									<i class="btn btn-default glyphicon glyphicon-save" ng-click="updateRecord(record)"></i>
									<i class="btn btn-default glyphicon glyphicon-remove" ng-click="toggleEditMode(record)"></i>
								</div>
							</div>
						</td>
						<td>{{record.code}}</td>
						<td>
							<span ng-show="record.editMode == null || record.editMode == false">{{record.name}}</span>
							<input ng-model="record.name" ng-show="record.editMode == true" />
						</td>
					</tr>
				</table>
				<pagination 
					ng-model="pageRegions"
					total-items="total"
					max-size="count"  
					boundary-links="true">
				</pagination>
			</div>

			<h2>Okresy</h2>
			<div ng-controller="SubregionsCtrl">
				<table class="crud-grid table table-striped table-bordered table-condensed table-hover">
					<tr>
						<th style="width: 100px;">
							<div class="btn-toolbar"><i class="btn btn-default glyphicon glyphicon-plus" ng-click="toggleAddMode()"></i></div>
						</th>
						<th style="width: 50px;">Kód okresu</th>
						<th>Kód kraje</th>
						<th>Název okresu</th>
					</tr>
					<tr ng-show="addMode">
						<td>
							<div class="btn-toolbar">
								<div class="btn-group">
									<i class="btn btn-default glyphicon glyphicon-save" ng-click="addRecord()"></i>
									<i class="btn btn-default glyphicon glyphicon-remove" ng-click="toggleAddMode()"></i>
								</div>
							</div>
						</td>
						<td></td>
						<td>
							<input ng-model="record.region_code" />
						</td>
						<td>
							<input ng-model="record.name" />
						</td>
					</tr>
					<tr ng-repeat="record in records | orderBy:'id'">
						<td>
							<div class="btn-toolbar" ng-show="record.editMode == null || record.editMode == false">
								<div class="btn-group">
									<i class="btn btn-default glyphicon glyphicon-edit" ng-click="toggleEditMode(record)"></i>
									<i class="btn btn-default glyphicon glyphicon-trash" ng-click="deleteRecord(record)"></i>
								</div>
							</div>
							<div class="btn-toolbar" ng-show="record.editMode == true">
								<div class="btn-group">
									<i class="btn btn-default glyphicon glyphicon-save" ng-click="updateRecord(record)"></i>
									<i class="btn btn-default glyphicon glyphicon-remove" ng-click="toggleEditMode(record)"></i>
								</div>
							</div>
						</td>
						<td>{{record.code}}</td>
						<td>
							<span ng-show="record.editMode == null || record.editMode == false">{{record.region_code}}</span>
							<input ng-model="record.region_code" ng-show="record.editMode == true" />
						</td>
						<td>
							<span ng-show="record.editMode == null || record.editMode == false">{{record.name}}</span>
							<input ng-model="record.name" ng-show="record.editMode == true" />
						</td>
					</tr>
				</table>
				<pagination 
					ng-model="pageSubregions"
					total-items="total"
					max-size="count"  
					boundary-links="true">
				</pagination>
			</div>

			<h2>Obce</h2>
			<div ng-controller="MunicipalitiesCtrl">
				<table class="crud-grid table table-striped table-bordered table-condensed table-hover">
					<tr>
						<th style="width: 100px;">
							<div class="btn-toolbar"><i class="btn btn-default glyphicon glyphicon-plus" ng-click="toggleAddMode()"></i></div>
						</th>
						<th style="width: 50px;">Kód obce</th>
						<th>Kód okresu</th>
						<th>Název obce</th>
					</tr>
					<tr ng-show="addMode">
						<td>
							<div class="btn-toolbar">
								<div class="btn-group">
									<i class="btn btn-default glyphicon glyphicon-save" ng-click="addRecord()"></i>
									<i class="btn btn-default glyphicon glyphicon-remove" ng-click="toggleAddMode()"></i>
								</div>
							</div>
						</td>
						<td></td>
						<td>
							<input ng-model="record.subregion_code" />
						</td>
						<td>
							<input ng-model="record.name" />
						</td>
					</tr>
					<tr ng-repeat="record in records | orderBy:'id'">
						<td>
							<div class="btn-toolbar" ng-show="record.editMode == null || record.editMode == false">
								<div class="btn-group">
									<i class="btn btn-default glyphicon glyphicon-edit" ng-click="toggleEditMode(record)"></i>
									<i class="btn btn-default glyphicon glyphicon-trash" ng-click="deleteRecord(record)"></i>
								</div>
							</div>
							<div class="btn-toolbar" ng-show="record.editMode == true">
								<div class="btn-group">
									<i class="btn btn-default glyphicon glyphicon-save" ng-click="updateRecord(record)"></i>
									<i class="btn btn-default glyphicon glyphicon-remove" ng-click="toggleEditMode(record)"></i>
								</div>
							</div>
						</td>
						<td>{{record.code}}</td>
						<td>
							<span ng-show="record.editMode == null || record.editMode == false">{{record.subregion_code}}</span>
							<input ng-model="record.subregion_code" ng-show="record.editMode == true" />
						</td>
						<td>
							<span ng-show="record.editMode == null || record.editMode == false">{{record.name}}</span>
							<input ng-model="record.name" ng-show="record.editMode == true" />
						</td>
					</tr>
				</table>
				<pagination 
					ng-model="pageMunicipality"
					total-items="total"
					max-size="count"  
					boundary-links="true">
				</pagination>
			</div>

			<h2>Katastrální území</h2>
			<div ng-controller="CadastralAreaCtrl">
				<table class="crud-grid table table-striped table-bordered table-condensed table-hover">
					<tr>
						<th style="width: 100px;">
							<div class="btn-toolbar"><i class="btn btn-default glyphicon glyphicon-plus" ng-click="toggleAddMode()"></i></div>
						</th>
						<th style="width: 50px;">Kód katastrální oblasti</th>
						<th>Kód obce</th>
						<th>Název katastrální oblasti</th>
					</tr>
					<tr ng-show="addMode">
						<td>
							<div class="btn-toolbar">
								<div class="btn-group">
									<i class="btn btn-default glyphicon glyphicon-save" ng-click="addRecord()"></i>
									<i class="btn btn-default glyphicon glyphicon-remove" ng-click="toggleAddMode()"></i>
								</div>
							</div>
						</td>
						<td></td>
						<td>
							<input ng-model="record.municipality_code" />
						</td>
						<td>
							<input ng-model="record.name" />
						</td>
					</tr>
					<tr ng-repeat="record in records | orderBy:'code'">
						<td>
							<div class="btn-toolbar" ng-show="record.editMode == null || record.editMode == false">
								<div class="btn-group">
									<i class="btn btn-default glyphicon glyphicon-edit" ng-click="toggleEditMode(record)"></i>
									<i class="btn btn-default glyphicon glyphicon-trash" ng-click="deleteRecord(record)"></i>
								</div>
							</div>
							<div class="btn-toolbar" ng-show="record.editMode == true">
								<div class="btn-group">
									<i class="btn btn-default glyphicon glyphicon-save" ng-click="updateRecord(record)"></i>
									<i class="btn btn-default glyphicon glyphicon-remove" ng-click="toggleEditMode(record)"></i>
								</div>
							</div>
						</td>
						<td>{{record.code}}</td>
						<td>
							<span ng-show="record.editMode == null || record.editMode == false">{{record.municipality_code}}</span>
							<input ng-model="record.municipality_code" ng-show="record.editMode == true" />
						</td>
						<td>
							<span ng-show="record.editMode == null || record.editMode == false">{{record.name}}</span>
							<input ng-model="record.name" ng-show="record.editMode == true" />
						</td>
					</tr>
				</table>
				<pagination 
					ng-model="pageCadastralArea"
					total-items="total"
					max-size="count"  
					boundary-links="true">
				</pagination>
			</div>

			<h2>Budovy</h2>
			<div ng-controller="BuildingCtrl">
				<table class="crud-grid table table-striped table-bordered table-condensed table-hover">
					<tr>
						<th style="width: 100px;">
							<div class="btn-toolbar"><i class="btn btn-default glyphicon glyphicon-plus" ng-click="toggleAddMode()"></i></div>
						</th>
						<th style="width: 50px;">ID parcely</th>
						<th>Část obce</th>
						<th>Číslo domu</th>
						<th>Způsob využití</th>
					</tr>
					<tr ng-show="addMode">
						<td>
							<div class="btn-toolbar">
								<div class="btn-group">
									<i class="btn btn-default glyphicon glyphicon-save" ng-click="addRecord()"></i>
									<i class="btn btn-default glyphicon glyphicon-remove" ng-click="toggleAddMode()"></i>
								</div>
							</div>
						</td>
						<td></td>
						<td>
							<input ng-model="record.municipality_part" />
						</td>
						<td>
							<input ng-model="record.house_number" />
						</td>
						<td>
							<input ng-model="record.way_of_using" />
						</td>
					</tr>
					<tr ng-repeat="record in records | orderBy:'code'">
						<td>
							<div class="btn-toolbar" ng-show="record.editMode == null || record.editMode == false">
								<div class="btn-group">
									<i class="btn btn-default glyphicon glyphicon-edit" ng-click="toggleEditMode(record)"></i>
									<i class="btn btn-default glyphicon glyphicon-trash" ng-click="deleteRecord(record)"></i>
								</div>
							</div>
							<div class="btn-toolbar" ng-show="record.editMode == true">
								<div class="btn-group">
									<i class="btn btn-default glyphicon glyphicon-save" ng-click="updateRecord(record)"></i>
									<i class="btn btn-default glyphicon glyphicon-remove" ng-click="toggleEditMode(record)"></i>
								</div>
							</div>
						</td>
						<td>{{record.parcel_id}}</td>
						<td>
							<span ng-show="record.editMode == null || record.editMode == false">{{record.municipality_part}}</span>
							<input ng-model="record.municipality_part" ng-show="record.editMode == true" />
						</td>
						<td>
							<span ng-show="record.editMode == null || record.editMode == false">{{record.house_number}}</span>
							<input ng-model="record.house_number" ng-show="record.editMode == true" />
						</td>
						<td>
							<span ng-show="record.editMode == null || record.editMode == false">{{record.way_of_using}}</span>
							<input ng-model="record.way_of_using" ng-show="record.editMode == true" />
						</td>
					</tr>
				</table>
				<pagination 
					ng-model="pageBuilding"
					total-items="total"
					max-size="count"  
					boundary-links="true">
				</pagination>
			</div>

			<h2>Oprávněné osoby</h2>
			<div ng-controller="AuthorizedPersonCtrl">
				<table class="crud-grid table table-striped table-bordered table-condensed table-hover">
					<tr>
						<th style="width: 100px;">
							<div class="btn-toolbar"><i class="btn btn-default glyphicon glyphicon-plus" ng-click="toggleAddMode()"></i></div>
						</th>
						<th style="width: 50px;">ID</th>
						<th>Typ</th>
					</tr>
					<tr ng-show="addMode">
						<td>
							<div class="btn-toolbar">
								<div class="btn-group">
									<i class="btn btn-default glyphicon glyphicon-save" ng-click="addRecord()"></i>
									<i class="btn btn-default glyphicon glyphicon-remove" ng-click="toggleAddMode()"></i>
								</div>
							</div>
						</td>
						<td></td>
						<td>
							<input ng-model="record.type" />
						</td>
					</tr>
					<tr ng-repeat="record in records | orderBy:'code'">
						<td>
							<div class="btn-toolbar" ng-show="record.editMode == null || record.editMode == false">
								<div class="btn-group">
									<i class="btn btn-default glyphicon glyphicon-edit" ng-click="toggleEditMode(record)"></i>
									<i class="btn btn-default glyphicon glyphicon-trash" ng-click="deleteRecord(record)"></i>
								</div>
							</div>
							<div class="btn-toolbar" ng-show="record.editMode == true">
								<div class="btn-group">
									<i class="btn btn-default glyphicon glyphicon-save" ng-click="updateRecord(record)"></i>
									<i class="btn btn-default glyphicon glyphicon-remove" ng-click="toggleEditMode(record)"></i>
								</div>
							</div>
						</td>
						<td>{{record.id}}</td>
						<td>
							<span ng-show="record.editMode == null || record.editMode == false">{{record.type}}</span>
							<input ng-model="record.type" ng-show="record.editMode == true" />
						</td>
					</tr>
				</table>
				<pagination 
					ng-model="pageAuthorizedPerson"
					total-items="total"
					max-size="count"  
					boundary-links="true">
				</pagination>
			</div>
			
			<h2>Fyzické osoby</h2>
			<div ng-controller="NaturalPersonCtrl">
				<table class="crud-grid table table-striped table-bordered table-condensed table-hover">
					<tr>
						<th style="width: 100px;">
							<div class="btn-toolbar"><i class="btn btn-default glyphicon glyphicon-plus" ng-click="toggleAddMode()"></i></div>
						</th>
						<th style="width: 50px;">ID oprávněné osoby</th>
						<th>Jméno</th>
						<th>Příjmení</th>
						<th>Adresa</th>
					</tr>
					<tr ng-show="addMode">
						<td>
							<div class="btn-toolbar">
								<div class="btn-group">
									<i class="btn btn-default glyphicon glyphicon-save" ng-click="addRecord()"></i>
									<i class="btn btn-default glyphicon glyphicon-remove" ng-click="toggleAddMode()"></i>
								</div>
							</div>
						</td>
						<td></td>
						<td>
							<input ng-model="record.first_name" />
						</td>
						<td>
							<input ng-model="record.last_name" />
						</td>
						<td>
							<input ng-model="record.adress" />
						</td>
					</tr>
					<tr ng-repeat="record in records | orderBy:'authorized_person_id'">
						<td>
							<div class="btn-toolbar" ng-show="record.editMode == null || record.editMode == false">
								<div class="btn-group">
									<i class="btn btn-default glyphicon glyphicon-edit" ng-click="toggleEditMode(record)"></i>
									<i class="btn btn-default glyphicon glyphicon-trash" ng-click="deleteRecord(record)"></i>
								</div>
							</div>
							<div class="btn-toolbar" ng-show="record.editMode == true">
								<div class="btn-group">
									<i class="btn btn-default glyphicon glyphicon-save" ng-click="updateRecord(record)"></i>
									<i class="btn btn-default glyphicon glyphicon-remove" ng-click="toggleEditMode(record)"></i>
								</div>
							</div>
						</td>
						<td>{{record.authorized_person_id}}</td>
						<td>
							<span ng-show="record.editMode == null || record.editMode == false">{{record.first_name}}</span>
							<input ng-model="record.first_name" ng-show="record.editMode == true" />
						</td>
						<td>
							<span ng-show="record.editMode == null || record.editMode == false">{{record.last_name}}</span>
							<input ng-model="record.last_name" ng-show="record.editMode == true" />
						</td>
						<td>
							<span ng-show="record.editMode == null || record.editMode == false">{{record.adress}}</span>
							<input ng-model="record.adress" ng-show="record.editMode == true" />
						</td>
					</tr>
				</table>
				<pagination 
					ng-model="pageNaturalPerson"
					total-items="total"
					max-size="count"  
					boundary-links="true">
				</pagination>
			</div>
			
			
			<h2>Právnické osoby</h2>
			<div ng-controller="LegalPersonCtrl">
				<table class="crud-grid table table-striped table-bordered table-condensed table-hover">
					<tr>
						<th style="width: 100px;">
							<div class="btn-toolbar"><i class="btn btn-default glyphicon glyphicon-plus" ng-click="toggleAddMode()"></i></div>
						</th>
						<th style="width: 50px;">ID oprávněné osoby</th>
						<th>Název</th>
						<th>Adresa</th>
					</tr>
					<tr ng-show="addMode">
						<td>
							<div class="btn-toolbar">
								<div class="btn-group">
									<i class="btn btn-default glyphicon glyphicon-save" ng-click="addRecord()"></i>
									<i class="btn btn-default glyphicon glyphicon-remove" ng-click="toggleAddMode()"></i>
								</div>
							</div>
						</td>
						<td></td>
						<td>
							<input ng-model="record.name" />
						</td>
						<td>
							<input ng-model="record.adress" />
						</td>
					</tr>
					<tr ng-repeat="record in records | orderBy:'authorized_person_id'">
						<td>
							<div class="btn-toolbar" ng-show="record.editMode == null || record.editMode == false">
								<div class="btn-group">
									<i class="btn btn-default glyphicon glyphicon-edit" ng-click="toggleEditMode(record)"></i>
									<i class="btn btn-default glyphicon glyphicon-trash" ng-click="deleteRecord(record)"></i>
								</div>
							</div>
							<div class="btn-toolbar" ng-show="record.editMode == true">
								<div class="btn-group">
									<i class="btn btn-default glyphicon glyphicon-save" ng-click="updateRecord(record)"></i>
									<i class="btn btn-default glyphicon glyphicon-remove" ng-click="toggleEditMode(record)"></i>
								</div>
							</div>
						</td>
						<td>{{record.authorized_person_id}}</td>
						<td>
							<span ng-show="record.editMode == null || record.editMode == false">{{record.name}}</span>
							<input ng-model="record.name" ng-show="record.editMode == true" />
						</td>
						<td>
							<span ng-show="record.editMode == null || record.editMode == false">{{record.adress}}</span>
							<input ng-model="record.adress" ng-show="record.editMode == true" />
						</td>
					</tr>
				</table>
				<pagination 
					ng-model="pageLegalPerson"
					total-items="total"
					max-size="count"  
					boundary-links="true">
				</pagination>
			</div>
		</div>
	</body>
	<footer>
		
	</footer>
</html>