<!DOCTYPE html> 
<html lang="cs" ng-app="app">
	<head>
		<meta charset="utf-8">
        
        <meta name="description" content="Databáze pozemků s nedostatečně identifikovaným vlastníkem. Rychlá cesta, 
              jak najít pozemek, který vás zajímá. Více než 150 000 záznamů. Možnost hledání dle jména i lokality" />
		
		<title>Neznámí vlastníci</title>
		
		<!--angular a oficiální moduly-->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-touch.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.min.js"></script>
		
		<!--jquery-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		
		<!--bootstrap-->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		
		<!--font awesome-->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		
		<!--angucomplete-->
		<script src="lib/angucomplete/angucomplete.js"></script>
		<link rel="stylesheet" href="lib/angucomplete/angucomplete.css"/>
		
		<!--ng-table-->
		<script src="lib/ng-table/dist/ng-table.js"></script>
        <link rel="stylesheet" href="lib/ng-table/dist/ng-table.css">
		
		<script src="js/app/app.js"></script>
		
		<link rel="stylesheet" href="css/front.css">
        
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-63604463-1', 'auto');
            ga('send', 'pageview');
        </script>
	</head>
	<body>
		<div class="container" ng-controller="FilterCtrl">
			<h1>Databáze neznámých vlastníků</h1>
            <div class="row">
                <div id="informations" class="col-xs-12 col-md-12">
                    <a href="#information-content" data-toggle="collapse">Co je databáze neznámých vlastníků?</a>
                    <div id="information-content" class="collapse">
                        <h3>Co jsou to neznámí vlastníci?</h3> 
                        Katastrální úřady evidují asi 80 000 parcel o celkové  výměře přibližně 200 km<sup>2</sup>, jejichž 
                        vlastník není známý. Podle zákona č. 256/2013 Sb, platného od 1. 1. 2014 mají být u těchto 
                        parcel určeni vlastníci. Pokud se to nepodaří do 31. 12. 2023, všechny pozemky s neurčenými 
                        vlastníky propadají státu. A proto je tu stránka neznamivlastnici.cz, která vám pomůže zjistit, 
                        zdali některý s těchto pozemků nepatří právě vám. Více informací najdete na 
                        <a href="http://www.uzsvm.cz/informace-pro-verejnost-2139-0-85/" target="_blank">stránkách úřadu 
                            pro zastupování státu ve věcech majetkových</a>. 
                            
                        <h3>Co znamená řádek v tabulce výsledků?</h3>
                        Jedna řádka = jeden záznam o neznámém vlastnictví. Pozor, to, že je u záznamu uvedeno jméno 
                        vlastníka, neznamená, že by byl vlastník známý (dostatečně určený).

                        <h3>Jak hledat?</h3>
                        Stačí zadat údaje do filtrů níže a výběr záznamů v tabulce se zúží. Pro zrušení filtru 
                        klikněte na ikonu koše vedle filtru. Výsledků se zobrazí pouze 10, pro více výsledků 
                        použijte stránkování, nebo zvyšte počet výsledků na stránku až na 100 pomocí tlačítek vpravo 
                        dole.
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="search-area" class="col-xs-12 col-md-8">
                    <h2>Filtr</h2>
                    <form id="filter">
                        <div>
                            <angucomplete id="search" 
                                      placeholder="Zadej příjmení" 
                                      pause="400" 
                                      selectedobject="selectedPerson"
                                      searchfields="name" 
                                      titlefield="first_name,last_name" 
                                      minlength="2" 
                                      inputclass="form-control" 
                                      matchclass="highlight"
                                      url="./api/search-lastname/"
                                      main-param-name="name"/>
                        </div>
                        
                        <div class="input-group">
                            <select id="filter-regions" 
                                    class="form-control" 
                                    ng-options="region.name for region in regions" 
                                    ng-model="selectedRegion"
                                    data-regions="<?= $regions ?>">
                            </select>
                        </div>
                        <div>
                            <angucomplete id="filter-subregion" 
                                      placeholder="Zadej okres" 
                                      pause="100" 
                                      selectedobject="selectedSubregion"
                                      searchfields="name" 
                                      titlefield="name" 
                                      minlength="2" 
                                      inputclass="form-control form-control-small" 
                                      matchclass="highlight"
                                      url="./api/subregion/"
                                      search-params="subregionFilterParams"
                                      main-param-name="name"/>
                        </div>
                        <div>
                            <angucomplete id="filter-subregion" 
                                      placeholder="Zadej obec" 
                                      pause="100" 
                                      selectedobject="selectedMunicipality"
                                      searchfields="name" 
                                      titlefield="name" 
                                      minlength="2" 
                                      inputclass="form-control form-control-small" 
                                      matchclass="highlight"
                                      url="./api/municipality/"
                                      search-params="municipalityFilterParams"
                                      main-param-name="name"/>
                        </div>
                    </form>
                </div>

                <div ng-controller="statisticController" class="col-xs-12 col-md-4">
                    <h2>Statistiky</h2>
                    <table class="table">
                        <tr><td>Celkem Záznamů:</td> <td>{{statistics.records | number}}</td></tr>
                        <tr><td>Celkem Parcel:</td> <td>{{statistics.parcels | number}}</td></tr>
                    </table>
                </div>
            </div>
			<div id="results-area" ng-controller="ResultsCtrl">
				<h2>Nalezené záznamy</h2>
                <div id='loading-overlay' ng-show="tableParams.settings().$loading"> 
                    <!--ng-show="{{tableParams.settings().$loading}}"-->
                    <img src="img/load-more-spin.gif" alt="loading" />
                </div>
                <table ng-table="tableParams" class="table">
                    <tr ng-repeat="row in $data">
                        <td data-title="'Poslední známý vlastník'" sortable="'naturl_person_lastname'" sort-indicator="'span'">
                            {{row.owner}}
                        </td>
                        <td data-title="'Obec'" sortable="'municipality_name'" sort-indicator="'span'">
                            {{row.municipality_name}}
                        </td>
                        <td data-title="'Okres'">
                            {{row.subregion}}
                        </td>
                        <td data-title="'Kraj'">
                            {{row.region}}
                        </td>
                        <td data-title="'Číslo parcely'">
                            {{row.parcel_number}}
                        </td>
                        <td data-title="'Plocha parcely'" sortable="'area'" sort-indicator="'span'">
                            {{row.area | number}} m<sup>2</sup>
                        </td>
                        <td data-title="'Podíl vlastnictví'">
                            {{row.share}}
                        </td>
                        <td>
                            <a href="#detail-{{$index}}" role="button" class="btn btn-large btn-primary" data-toggle="modal">
                                Detail
                            </a>
                            <div id="detail-{{$index}}" class="modal fade">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h3 class="modal-title">Detail</h3>
                                        </div>
                                        <div class="modal-body">
                                            <table>
<!--                                                <tr><td>Číslo parcely: </td><td>{{row.parcel_number}}</td></tr>
                                                <tr><td>Podíl vlastnictví: </td><td>{{row.share}}</td></tr>
                                                <tr><td>Vlastník: </td><td>{{row.owner}}</td></tr>
                                                <tr><td>Kraj: </td><td>{{row.region}}</td></tr>
                                                <tr><td>Okres: </td><td>{{row.subregion}}</td></tr>
                                                <tr><td>Obec: </td><td>{{row.municipality_name}}</td></tr>
                                                <tr><td>Druh pozemku: </td><td>{{row.parcel_type}}</td></tr>
                                                <tr><td>Způsob využití: </td><td>{{row.way_of_using}}</td></tr>
                                                <tr><td>Adresa vlastníka: </td><td>{{row.adress}}</td></tr>
                                                <tr><td>Číslo listu vlastnictví: </td><td>{{row.lv_number}}</td></tr>-->
                                                
                                            </table>
                                            
                                            <ul class="list-group">
                                                <li class="list-group-item"><strong>Číslo parcely:</strong> {{row.parcel_number}}</li>
                                                <li class="list-group-item"><strong>Podíl vlastnictví:</strong> {{row.share}}</li>
                                                <li class="list-group-item"><strong>Plocha parcely:</strong> {{row.area | number}} m<sup>2</sup></li>
                                                <li class="list-group-item"><strong>Vlastník:</strong> {{row.owner}}</li>
                                                <li class="list-group-item"><strong>Kraj:</strong> {{row.region}}</li>
                                                <li class="list-group-item"><strong>Okres:</strong> {{row.subregion}}</li>
                                                <li class="list-group-item"><strong>Obec:</strong> {{row.municipality_name}}</li>
                                                <li class="list-group-item"><strong>Druh pozemku:</strong> {{row.parcel_type}}</li>
                                                <li class="list-group-item"><strong>Způsob využití:</strong> {{row.way_of_using}}</li>
                                                <li class="list-group-item"><strong>Adresa vlastníka:</strong> {{row.adress}}</li>
                                                <li class="list-group-item"><strong>Číslo listu vlastnictví:</strong> {{row.lv_number}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                </tr>
                </table>
                
			</div>
            <footer>

            </footer>
        </div>
        
    </body>
</html>